body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: Chewy;
}

.jumbotron,
.navbar,
.site-footer {
    background-color: #7588A1;
}

#copyright {
    font-size: small;
    font-style: italic;
}
