body {
    font-family: "Open Sans", sans-serif;
    
    background-image: linear-gradient(black, white,black)
    /*
    background-image: url(../images/stage-336695_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    */
}

h1 {
    font-family: Chewy;
}

.jumbotron,
.navbar,
.site-footer,
.breadcrumb {
    background-color: black;
    color: white;
}

.site-footer {
    margin-top: 20px;
}

#copyright {
    font-size: small;
    font-style: italic;
}

.badge {
    font-size: 14px;
}